@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #a82ce6;
    color: #222;
    font-family: 'Silkscreen', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .shop-cart-button {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #de9dff;
    box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.75);
    z-index: 1000;

    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .item img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p {
    color: #007d19;
}

header .shop-cart .item .delete-icon {
    color: #ca5252;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

header .presentation {
    margin: 100px auto;
    background: url('https://i.pinimg.com/564x/b8/28/c5/b828c5c013edf0536378846f99d3803c.jpg') no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: #de9dff;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    border-radius: 10px;
}

main .item img {
    width: 100%;
    /* border-radius: 10px 10px 0 0; */
    transition: transform 500ms ease;
}

main .item img:hover {
    transform: scale(1.05);
}

main h2, b, p {
    margin: 10px 20px;
    color: #333;
}

main b {
    color: #007d19;
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}

footer {
    text-align: center;
    margin: 100px;
}